@{
    ViewBag.Title = "About Protect & Serve Database";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<br />
<br />
<br />
<br />
<p class="lead">Have further questions? @Html.ActionLink("Contact Us!", "Contact", "Home")</p>
<br />
<div class="lead">@Html.ActionLink("Back to Main", "Index", "Home")</div>

