@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 text-center">
        <h4><b>[ Base-Level User ]</b></h4>
        <p>View database only <br/>List of top most-wanted</p>
        <p><a class="btn btn-default" href="~/Account/LogIn">Access Account</a></p>
        <br />
    </div>
    <div class="col-md-4 text-center">
        <h4><b>[ Mid-Level User ]</b></h4>
        <p>View database<br/>Add entries to database</p>
        <p><a class="btn btn-default" href="~/Account/LogIn">Access Account</a></p>
        <br />
    </div>
    <div class="col-md-4 text-center">
        <h4><b>[ Top-Level User ]</b></h4>
        <p>View database entries<br />Add/remove entries<br />Add/remove users</p>
        <p><a class="btn btn-default" href="~/Account/LogIn">Access Account</a></p>
        <br />
    </div>
</div>
<br />
<br />

<div>
    <p class="lead">No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account")</p>
</div>
