
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UnAuthorized Access!</h2>

<p>Sorry - you do not have permission to acces this page.</p>
<br />
<br />
<br />
<br />
<br />
<div class="lead">@Html.ActionLink("Back to Main", "Welcome", "Home")</div>
